@import "bootstrap";
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('restaurant_icons.png');
  /* Modern Georgia-based serif stack */ 
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('food.png');
  color: white;
}

.navbar-inverse .navbar-brand {
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: -0.3px;
  text-shadow: 2px 2px 4px #000000;
}

.nav-link {
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: -0.3px;
}

.navbar-nav {
  color: #FFFFFF;
}

.fa-plus-circle:before {
    content: "\f055";
}

.frosted-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.home-button {
  margin-left: 1em;
}

.pagination {
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;  
  
  a {
   margin-right: 0.5em;
  }
  .previous_page {
    margin-left: 1em;
    margin-right: 0.5em;
  }
  .previous_page.disabled {
    margin-right: 0.5em;
  }
  .current {
    margin-right: 0.5em;
  }
  .next_page {
    margin-right: 0.5em;
  }
  .next_page.disabled {
    margin-right: 0.5em;
  }
}

#map {
  height: 300px;
}

.edit {
  margin-left: 0px;
  margin-right: 0px;
}

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-star:before {
    color: #FAC565;
    font-size: 20px;
    content: "\f005";
}

.fa-star-o:before {
    font-size: 20px;
    content: "\f006";
}
